/* @import url('reset.css');

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}


@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes animationFramesOne{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(73px,-1px)  rotate(36deg) ;
  }
  40% {
    transform:  translate(141px,72px)  rotate(72deg) ;
  }
  60% {
    transform:  translate(83px,122px)  rotate(108deg) ;
  }
  80% {
    transform:  translate(-40px,72px)  rotate(144deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@keyframes animationFramesTwo{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(-73px,1px)  rotate(36deg) ;
  }
  40% {
    transform:  translate(-141px,-72px)  rotate(72deg) ;
  }
  60% {
    transform:  translate(-83px,-122px)  rotate(108deg) ;
  }
  80% {
    transform:  translate(40px,-72px)  rotate(144deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@keyframes animationFramesTopBottom{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(0px,1px)  rotate(36deg) ;
  }
  40% {
    transform:  translate(0px,-72px)  rotate(72deg) ;
  }
  60% {
    transform:  translate(0px,-122px)  rotate(108deg) ;
  }
  80% {
    transform:  translate(0px,-72px)  rotate(144deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@keyframes animationFramesR{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(100deg) ;
  }
}

@keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }
    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

.shape-section{
  position: absolute;
}
.shape {
  width: 25px;
}

.shape-one {
    margin-top: 50px;
    margin-left: 100px;
    animation: animationFramesOne 12s infinite linear;
}
.shape-two {
    margin-top: 150px;
    margin-left: 160px;
    animation: animationFramesTwo 12s infinite linear;
}
.shape-three {
    margin-top: 175px;
    margin-left: 120px;
    animation: animationFramesOne 12s infinite linear;
}
.shape-four {
    margin-top: 125px;
    margin-left: 180px;
    animation: animationFramesTwo 12s infinite linear;
}
.shape-five {
    margin-top: 135px;
    margin-left: 150px;
    animation: animationFramesR 5s infinite linear;
}

.second.shape-one {
    margin-top: 60px;
    margin-left: 100px;
    animation: animationFramesOne 12s infinite linear;
}
.second.shape-two {
    margin-top: 175px;
    margin-left: 160px;
    animation: animationFramesTwo 12s infinite linear;
}
.second.shape-three {
    margin-top: 150px;
    margin-left: 120px;
    animation: animationFramesOne 12s infinite linear;
}
.second.shape-four {
    margin-top: 135px;
    margin-left: 180px;
    animation: animationFramesTwo 12s infinite linear;
}
.second.shape-five {
    margin-top: 125px;
    margin-left: 150px;
    animation: animationFramesR 5s infinite linear;
}

.shape-one.three {
    margin-top: 0px;
    margin-left: 10px;
    animation: animationFramesOne 12s infinite linear;
}
.shape-one.four {
    margin-top: 0px;
    margin-left: 15px;
    animation: animationFramesTwo 12s infinite linear;
}
.shape-one.five {
    margin-top: 0px;
    margin-left: 18px;
    animation: animationFramesOne 12s infinite linear;
}

.banner-section {
  padding-top: 100px;
  background-image: url('../images/banner-img2.png');
  background-size: cover;
  background-position: center;
}
.banner-section::after {
    position: absolute;
    content: '';
    top: 78px;
    left: 9%;
    width: 80%;
    height: 100%;
    background-image: url(../images/banner-shape-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: zoominoutsinglefeatured 6s infinite;
    animation: zoominoutsinglefeatured 6s infinite;
}

.banner-content {
  margin-bottom: 80px;
}
.banner-content .title {
  font-size: 50px;
  font-family: var(--para-font);
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}
.banner-content .subtitle {
  font-size: 28px;
  font-family: var(--para-font);
  font-weight: 300;
  color: #ffffff;
}
.banner-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.banner-item .content {
  padding-left: 15px;
}
.banner-item .content .number {
  font-size: 50px;
  font-family: var(--para-font);
  font-weight: 300;
  color: #ffffff;
}
.banner-item .content .caption {
  font-size: 18px;
  font-family: var(--para-font);
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}
.banner-section .btn-area {
  margin-top: 35px;
  margin-bottom: 50px;
}
.cmn-btn {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  background-image: -webkit-linear-gradient(169deg, #e40015 0%, #750075 100%);
  border-radius: 25px;
  border: 2px solid #ff5500;
  background-image: -ms-linear-gradient(0deg, transparent 0%, transparent 100%);
  transition: all 0.3s ease-in;
  padding: 15px 45px;
  margin: 5px 15px;
  overflow: hidden;
  background-color: #ffffff;
  font-family: var(--para-font);
  color: #ffffff;
  text-transform: uppercase;
  z-index: 9;
}
.cmn-btn:hover{
  background-image: -webkit-linear-gradient(0deg, transparent 0%, transparent 100%);
  background-color: #ffffff;
  border: 2px solid transparent;
}

.video-box {
  z-index: 2;
}

.video-box .popup-video:before {
    content: "";
    position: absolute;
    left: -2px;
    top: 1px;
    height: 69px;
    width: 65px;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
    animation: icon-bubble 1s infinite forwards linear 0.5s;
}

.video-box .popup-video:after {
    content: "";
    position: absolute;
    left: -2px;
    top: 1px;
    height: 69px;
    width: 65px;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear;
    animation: icon-bubble 1s infinite forwards linear;
}

.video-box img{
  z-index: 1;
  position: relative;
  width: 50%;
  box-shadow: -3px 10px 12px -4px #9491a9;
}

.video-box .icon-box {
  position: absolute;
  top: 40%;
  right: 47%;
  z-index: 2
}

.video-box .icon-box .video-play-btn:hover{
  text-decoration: none;
}

.video-box .icon-box .video-play-btn i {
  border-radius: 50%;
  background-color: rgb(225, 82, 24);
  opacity: 0.8;
  padding: 20px;
  font-size: 30px;
  color: #ffff;
  display: grid;       
}     */
/* banner-section end */

/* news-setcion start */
.news-setcion {
  padding-top: 50px;
  padding-bottom: 100px;
  /* background-image: url(../images/paralax.png); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.block-header {
  margin-bottom: 65px;
}
.block-header .block-title {
  font-weight: 700;
  font-family: var(--heading-font);
  color: #404550;
  text-transform: capitalize;
  text-align: center;
}
.demo-single {
  text-align: center;
  margin-bottom: 30px;
}
.demo-single .thumb {
  max-height: 500px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 10px;
  position: relative;
}
.demo-single .thumb .view-btn {
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.demo-single:hover .thumb .view-btn {
  opacity: 1;
}
.demo-single .thumb a {
  display: block;
}
.demo-single--height2.demo-single .thumb {
    height: 100%;
}
.demo-single .caption {
  margin-top: 40px;
  text-transform: capitalize;
}
.section-title{
  text-align: center;
}
/* news-setcion end */

/* blog-setcion start */
.blog-section{
  background: #52D9EC!important;
}
/* blog-section end */

/* coming-soon-section start */
.coming-soon-section{
  background-image: url('../images/coming-soon.jpg')!important;
  padding-top: 90px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* coming-soon-section end */

/* choose-section start */
.choose-section {
  background-image: url('../images/bg1.jpg');
  padding-top: 90px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.section-header {
  margin-bottom: 85px;
}
.choose-section .section-header .sub-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.choose-section .section-header .title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.choose-section .section-header p {
  color: #ffffff;
}
.mb-none-45 {
  margin-bottom: -65px;
}
.choose-item {
  margin-bottom: 65px;
}
.choose-item .icon {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0.5px 0.866px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.choose-item .caption {
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 25px;
}
/* choose-section end */

/* view-section css start */
.view-section {
  padding: 100px 0;
}
.view-section .content .title {
  font-size: 40px;
  color: #1e375a;
  margin-bottom: 20px;
}
.view-section .thumb {
  margin-top: 80px;
}
.pr-btn {
  margin-top: 30px;
  padding: 10px 35px;
  background-color: #558af2;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.pr-btn:hover {
  color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25)
}
/* view-section css end */

/* more-product-section css start */
.more-product-section {
  padding-bottom: 100px;
}
.section-header .sub-title {
  color: #1e375a;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.section-header .title {
  color: #1e375a;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.product-item {
  margin-bottom: 30px;
}
.product-item .thumb {
  position: relative;
  overflow: hidden;
}
.product-item .thumb::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #558af2;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.product-item:hover .thumb::before {
  opacity: 0.35;
}
.product-item .thumb img {
  width: 100%;
}
.product-item .thumb .view-btn {
  top: 55%;
  opacity: 0;
}
.product-item:hover .thumb .view-btn {
  top: 50%;
  opacity: 1;
}
.view-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 35px;
  color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
  display: inline-block;
  background-color: #558af2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.view-btn:hover {
  color: #ffffff;
}
/* more-product-section css end */

.line {
  border-top: 1px solid rgba(243, 243, 243, 0.302)
}

/* responsive css */
@media (max-width: 1199px) {
  .banner-content .title {
    font-size: 42px;
  }
  .banner-item .icon {
    height: 90px;
  }
}
@media (max-width: 479px) {

    .news-setcion .section-title {
        display: none;
    }

    .news-setcion .title{
        font-size: 35px;
    }
    .demo-single--height2.demo-single .thumb {
        margin-top: 30px;
    }
}
